.About {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 5rem;
    margin-right: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.AboutContent {
    padding-right: 2rem;
}

.AboutPic {
    justify-self: end;
    align-self: right;
}

.AboutPic img {
    max-width: 50%;
    max-height: auto;
}