.HeroMain {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    background-color: #495E57;
    color: white;
    min-width: 100%;
}
@media only screen and (max-width: 600px) {
  .HeroMain {grid-template-columns: 1fr; grid-template-rows: repeat(2,1fr); margin: 0;}
}
@media only screen and (min-width: 600px) {
  .HeroMain {grid-template-columns: 1fr; grid-template-rows: repeat(2,1fr); margin: 0;}
}
@media only screen and (min-width: 768px) {
  .HeroMain {grid-template-columns: 1fr; grid-template-rows: repeat(2,1fr); margin: 0;}
} 
@media only screen and (min-width: 992px) {
  .HeroMain {display: grid; grid-auto-flow: column; grid-template-columns: repeat(2, 1fr); grid-template-rows: 1fr; grid-gap: 1rem;}
} 
@media only screen and (min-width: 1200px) {
  .HeroMain {display: grid; grid-auto-flow: column; grid-template-columns: repeat(2, 1fr); grid-template-rows: 1fr; grid-gap: 1rem;}
}

.LandingPic {
    background-image: url(../assets/restauranfood.jpg);
    background-color: #495E57;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
}

.NameLocale {
    margin-top: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
}
@media only screen and (max-width: 600px) {
  .NameLocale {justify-content: space-evenly; margin-left: 1rem; margin-right: 1rem;}
}
@media only screen and (min-width: 600px) {
  .NameLocale {justify-content: space-evenly; margin-left: 1rem; margin-right: 1rem;}
}
@media only screen and (min-width: 768px) {
  .NameLocale {justify-content: space-evenly; margin-left: 5rem; margin-right: 5rem;}
} 
@media only screen and (min-width: 992px) {
  .NameLocale {justify-content: space-between; margin-left: 5rem; margin-right: 5rem;}
} 
@media only screen and (min-width: 1200px) {
  .NameLocale {justify-content: space-between; margin-left: 5rem; margin-right: 5rem;}
}

.NameLocale p {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.NameLocale button {
    margin-bottom: 2rem;
}