.HeroMain {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #495E57;
    color: white;
}

.HeroMain img {
    max-width: 50%;
}

.NameLocale {
    margin-top: 2rem;
    margin-left: 5rem;
}

.NameLocale p {
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 50%;
}

.NameLocale button {
    margin-bottom: 2rem;
}