.TopNav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: black;
    margin-left: 5rem;
    margin-right: 5rem;
}
@media only screen and (max-width: 600px) {
  .TopNav {justify-content: space-evenly; margin-left: 0rem; margin-right: 0rem;}
}
@media only screen and (min-width: 600px) {
  .TopNav {justify-content: space-evenly; margin-left: 0rem; margin-right: 0rem;}
}
@media only screen and (min-width: 768px) {
  .TopNav {justify-content: space-evenly; margin-left: 5rem; margin-right: 5rem;}
} 
@media only screen and (min-width: 992px) {
  .TopNav {justify-content: space-between; margin-left: 5rem; margin-right: 5rem;}
} 
@media only screen and (min-width: 1200px) {
  .TopNav {justify-content: space-between; margin-left: 5rem; margin-right: 5rem;}
}

.NavLinks {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.NavLinks li {
    list-style: none;
    padding: 1rem;
    display: block;
    white-space: nowrap;
}