.Specials {
    background-color: white;
    margin-left: 5rem;
    margin-right: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
@media only screen and (max-width: 600px) {
    .Specials {margin-left: 1rem; margin-right: 1rem;}
}
@media only screen and (min-width: 600px) {
    .Specials {margin-left: 1rem; margin-right: 1rem;}
}
@media only screen and (min-width: 768px) {
    .Specials {margin-left: 5rem; margin-right: 5rem;}
} 
@media only screen and (min-width: 992px) {
    .Specials {margin-left: 5rem; margin-right: 5rem;}
} 
@media only screen and (min-width: 1200px) {
    .Specials {margin-left: 5rem; margin-right: 5rem;}
}

.SpecialsHead {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    margin-bottom: 2rem;
}

.SpecialsHead button {
    align-items: right;
    justify-self: end;
}

.SpecialsContent {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1rem;
}
@media only screen and (max-width: 600px) {
    .SpecialsContent {    
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 1rem;}
}
@media only screen and (min-width: 600px) {
    .SpecialsContent {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 1rem;}
}
@media only screen and (min-width: 768px) {
    .SpecialsContent {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 1rem;}
} 
@media only screen and (min-width: 992px) {
    .SpecialsContent {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 1rem;}
} 
@media only screen and (min-width: 1200px) {
    .SpecialsContent {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 1rem;}
}

.SpecialsContent card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: #EDEFEE;
    border-radius: 8px;
    padding: 1rem;
}

.SpecialsContent card img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}