.Specials {
    background-color: white;
    margin-left: 5rem;
    margin-right: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.SpecialsHead {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    margin-bottom: 2rem;
}

.SpecialsHead button {
    align-items: right;
    justify-self: end;
}

.SpecialsContent {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.SpecialsContent card {
    background-color: #EDEFEE;
    border-radius: 8px;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
}

.SpecialsContent card img {
    max-width: 90%;
}