body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

card {
  overflow: auto;
}

div {
  overflow: auto;
}

h1 {
  font-size: 64pt;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 600px) {
  h1 {font-size: 30pt;}
}
@media only screen and (min-width: 600px) {
  h1 {font-size: 48pt;}
}
@media only screen and (min-width: 768px) {
  h1 {font-size: 48pt;}
} 
@media only screen and (min-width: 992px) {
  h1 {font-size: 64pt;}
} 
@media only screen and (min-width: 1200px) {
  h1 {font-size: 64pt;}
}

h2 {
  font-size: 40pt;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 600px) {
  h2 {font-size: 20pt;}
}
@media only screen and (min-width: 600px) {
  h2 {font-size: 30pt;}
}
@media only screen and (min-width: 768px) {
  h2 {font-size: 30pt;}
} 
@media only screen and (min-width: 992px) {
  h2 {font-size: 40pt;}
} 
@media only screen and (min-width: 1200px) {
  h2 {font-size: 40pt;}
}

h4 {
  font-size: 18pt;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  background-color: #F4CE14;
  padding: 1rem;
  border-radius: 8px;
  border-width: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}